{
  "client": {
    "name": "{{ ansible_hostname }}",
    "address": "{{ ansible_default_ipv4.address }}",
    "subscriptions": [ "linux"
{%- for service in monitored_services -%}
, "{{ service }}"
{%- endfor -%}
 ]
  }
}
