{
  "checks": {
    "uptime": {
      "command": "check-uptime.rb --uptime :::uptime.warning|3600:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    }
  }
}
