{
  "checks": {
    "filesystem_local_usage": {
      "command": "check-disk-usage.rb -t xfs,ext2,ext3,ext4,zfs,ntfs,reiserfs,ufs,vfat -w :::disk.usage.warning|80::: -c :::disk.usage.critical|90:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    },
    "filesystem_remote_usage": {
      "command": "check-disk-usage.rb -x xfs,ext2,ext3,ext4,zfs,ntfs,reiserfs,ufs,vfat,tmpfs,sysv,proc -w :::disk.usage.warning|80::: -c :::disk.usage.critical|90:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    }
  }
}
