{
  "checks": {
    "memory_percent": {
      "command": "check-memory.rb -p -w :::memory.usedpercent.warning|80::: -c :::memory.usedpercent.critical|90:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    }
  }
}
