{
  "checks": {
    "swap_percent": {
      "command": "check-swap.rb -w :::swap.usedpercent.warning|80::: -c :::swap.usedpercent.critical|90:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    }
  }
}
