{
  "checks": {
    "cpu_iowait": {
      "command": "check-cpu.rb --iowait -w :::cpu.iowait.warning|10::: -c :::cpu.iowait.critical|20:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    },
    "cpu_system": {
      "command": "check-cpu.rb --system -w :::cpu.system.warning|10::: -c :::cpu.system.critical|20:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    },
    "cpu_idle": {
      "command": "check-cpu.rb --idle --less_than -w :::cpu.idle.warning|20::: -c :::cpu.idle.critical|10:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    },
    "cpu_steal": {
      "command": "check-cpu.rb --steal -w :::cpu.steal.warning|1::: -c :::cpu.steal.critical|2:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    }
  }
}
