{
  "checks": {
    "processes": {
      "command": "check-process.rb -w :::processes.warning|500::: -c :::processes.critical|800:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    },
    "threads": {
      "command": "check-threads-count.rb  -w :::threads.warning|800::: -c :::threads.critical|1200:::",
      "subscribers": [
        "linux"
      ],
      "handler": "slack",
      "interval": 60
    }
  }
}
